.photo-card{
    box-sizing: border-box;
    min-height: 40vh;
    width: 20vw;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
.card-txt1{
    font-size: large;
}
@media only screen and (max-width: 426px){
    .photo-card{
    box-sizing: border-box;
    min-height: 40vh;
    width: 24vw;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 25vh;
}
.card-txt1{
    font-size: 12px;
    font-weight: bold;
}
.card-txt2{
    font-size: 10px;
}
}