.photo-card{
    box-sizing: border-box;
    min-height: 50vh;
    min-width: 20vw;
    background-color: white;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
}

.photo-card .img-sect{
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.photo-card .img-sect img{
    object-fit: cover;
}

.card-txt1, .card-txt2{
    font-size: large;
    background-color: gray;
    color: white;
}
@media only screen and (max-width: 426px){
    .photo-card{
    box-sizing: border-box;
    min-height: 35vh;
    width: 50vw;
    background-color: white;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
}

.photo-card .img-sect{
    height: 35vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 25vh;
}
.card-txt1{
    font-size: 12px;
    font-weight: bold;
}
.card-txt2{
    font-size: 10px;
}
}
@media only screen and (max-width: 375px){
    .photo-card{
    box-sizing: border-box;
    min-height: 35vh;
    width: 50vw;
    background-color: white;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
}

.photo-card .img-sect{
    height: 25vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 25vh;
}
.card-txt1{
    font-size: 12px;
    font-weight: bold;
}
.card-txt2{
    font-size: 10px;
}
}
@media only screen and (max-width: 360px){
    .photo-card{
    box-sizing: border-box;
    min-height: 30vh;
    width: 50vw;
    background-color: white;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
}

.photo-card .img-sect{
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 25vh;
}
.card-txt1{
    font-size: 10px;
    font-weight: bold;
}
.card-txt2{
    font-size: 8px;
}
}