.home-cont{
    min-height: max-content;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.home-cont .main{
    min-height: 70vh;
    width: 80%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
}

.home-cont .upper{
    min-height: 100vh;
    width: 80%;
    /* background-color: cadetblue; */
    display: flex;
}

.home-cont .middle{
    min-height: 60vh;
    width: 100%;
    /* background-color: olive; */
    display: flex;
    justify-content: center;
    
}

.home-cont .lower{
    min-height: 150vh;
    width: 80%;
    /* background-color: maroon; */
    display: flex;
}