.home-cont{
    min-height: max-content;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.home-cont .main{
    height: auto;
    width: 80%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
}

.home-cont .upper{
    height: max-content;
    width: 80%;
    /* background-color: cadetblue; */
    display: flex;
}

.home-cont .middle{
    min-height: 60vh;
    width: 100%;
    /* background-color: olive; */
    display: flex;
    justify-content: center;
    
}

.home-cont .lower{
    min-height: 150vh;
    width: 80%;
    /* background-color: maroon; */
    display: flex;
}
@media only screen and (max-width: 1000px){
.home-cont{
    margin-top: 2vh;
}
}
@media only screen and (max-width: 768px){
.home-cont{
    margin-top: 0vh;
}
}
@media only screen and (max-width: 426px){
    .home-cont .main{
    min-height: 50vh;
    width: 90%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.home-cont{
    margin-top: 0vh;
}
.home-cont .upper {
    min-height: 150vh;
    width: 90%;
    /* background-color: cadetblue; */
    display: flex;
}
.home-cont .lower {
    min-height: 150vh;
    width: 100%;
    /* background-color: maroon; */
    display: flex;
}
.home-cont {
    margin-top: 0vh;
    height: 362vh;
    /* background-color: aqua; */
}
}