.home-upper{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-upper .three-tiles{
    margin-top: 5%;
    min-height: 30%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-evenly;
}

.three-tiles .photo-tile{
    height: 100%;
    width: 25%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-text{
    font-size: large;
    font-weight: bold;
}

.work-texts{
    font-weight: 500;
}

.three-tiles .free-tile{
    height: 100%;
    width: 25%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.three-tiles .guarantee-tile{
    height: 100%;
    width: 25%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-upper .magic-cont{
    /* box-sizing: border-box; */
    margin-top: 2%;
    height: 70%;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.magic-cont .text-box{
    width: 60%;
    min-height: 80%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box .magic-text{
    font-size: x-large;
    font-weight: bolder;
    width: 400px;
}

.text-box .phone-text{
    margin-top: 2%;
    font-size: smaller;
    font-weight: 500;
    width: 400px;    
}


.magic-cont .photo-box{
    margin-right: 2%;
    width: 30%;
    min-height: 80%;
    background-color: rgb(218, 224, 228);
}